{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<h1> Bienvenue enfoiré Bienvenue enfoiré Bienvenue enfoiré Bienvenue enfoiré Bienvenue enfoiré Bienvenue enfoiré </h1>
{% endblock %}