{% extends 'base.html.twig' %}

{% block title %}Hello CurrentaccountController!{% endblock %}



{% block body %}
    <div class="container">
        <h1>Formulaire de Creation de compte</h1> 

    {{ form(form) 
    <button type="submit" class="btn">Register</button>
    }}
    

    </div>
{% endblock %}
